<html>  
    <body>  
        <div>Ciao,</div>
        <div>ricevi questa email perchè ti sei registrato sull'app <a href="${appPath}">colloqui</a> e hai richiesto il recupero della password</div>  
        <br>
        <div>  
            <a href="${appPath}?email=${userEmail}&token=${userToken}&type=recovery">Clicca qui per impostare una nuova password</a>  
        </div>
        <br>
        <div>Se non sei stato tu ad effettuare la richiesta ignora questa email.</div>
        <br>
        <div>Saluti</div>
    </body>  
</html>  